header {
    display: flex;
    justify-content: space-between;
    background-color: #3A4042;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
    align-items: center;
}

h1{
    font-family: 'Press Start 2P', sans-serif;
    color:#4C5B84;
    text-shadow: 5px 5px 0px black;
}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: white;
    font-size: 20px; 
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    transition: 0.3s linear;
}

a::before{
    content: "";
    background-color: #CEB02A;
    height: 10px;
    width: 10px;
    margin-right: 10px;
}

#button-download {
    display: inline-block;
    background-color: #4C5B84;
    padding: 18px 20px;
    box-shadow: 5px 5px 0 black;
    margin-left: 10px;
    margin-right: 0px;
    transition: 0.3s linear;
}

#button-download:hover {
    background-color: #CEB02A;
}

a:hover {
    color: black;
    transform: scale(1.1);
}

main {

}

h2 {
    margin-top: 116px;
    margin-left: 91px;
    box-shadow: 10px 10px 0 black;
    padding: 42px 17px 44px 40px;
    display: inline-block;
    font-size: 40px;
    font-family: 'Press Start 2P';
    font-weight: 400;
}
h2::after {
    width: 570px;
    height: 30px;
    content: "FullStack Developer";
    padding-right: 17px;
    font-size: 30px;
}

#button-cv{
    background-color: #4C5B84;
    margin-top: 38px;
    margin-left: 181px;
    margin-right: 112px;
    padding: 17px 18px 17.43px 20px;
    box-shadow: 5px 5px 0 black;
    transition: 0.3s linear;
}

#button-contatos{
    background-color: #4C5B84;
    display: inline-block;
    padding: 17px 18px 17.43px 20px;
    box-shadow: 5px 5px 0 black;
    transition: 0.3s linear;
}

#button-contatos:hover {
    background-color: #CEB02A;
    color: black;
}

#button-cv:hover {
    background-color: #CEB02A;
    color: black;
}