h2 {
    background-color: #3A4042;
    margin-top: 116px;
    margin-left: 91px;
    box-shadow: 10px 10px 0 black;
    padding: 42px 17px 44px 40px;
    display: inline-block;
    font-size: 40px;
    font-family: 'Press Start 2P';
    font-weight: 400;
    text-shadow: 5px 5px 0 black;
    color: #CEB02A;
}
